
# Crea tus archivos .env de la siguiente forma:


# En mi caso use Groq pero
# Pero puedes usar el modelo que desees
# Con su respectiva API_KEY:

GROQ_API_KEY = "Tú api key"

# URL donde corre interfaz:

API_URL      = "Tú dirección URL"